.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 0.5rem;
}
.panel-container {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
}
.panel {
  background: linear-gradient(
    126.97deg,
    rgba(6, 11, 38, 0.74),
    rgba(26, 31, 55, 0.5)
  );
  color: white;
  flex: 1;
  padding: 1rem 1.7rem;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.248);
}
.panel-1 {
  background: linear-gradient(
    126.97deg,
    rgba(6, 11, 38, 0.74),
    rgba(26, 31, 55, 0.5)
  );
  color: white;
  flex: 1;
  padding: 1rem 2rem;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.248);
}
.filters {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  gap: 0.8rem;
}

.filter svg {
  width: 1.2rem;
  height: 1.2rem;
  color: #a0aec0;
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.18rem;
  cursor: pointer;
}

.btn1 {
  width: 4px;
  height: 4px;
  background-color: #a0aec0;
  border-radius: 50%;
}
.panel-title {
  padding-top: 1.2rem;
  font-family: var(--font-family-raleway);
  color: var(--color-ocean);
}
.panel-title h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.panel-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.rectangle-parent {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 12px;
  background-color: #042e76;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent svg {
  width: 2rem;
  height: 2rem;
}
.panel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.panel-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #15c888;
  font-family: var(--font-family-radio);
}

/*Chartjs*/
.chamados,
.desempenho {
  font-family: var(--font-family-raleway);
}

.desempenho span {
  font-weight: 400;
}

.panel-chamados-top {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-family: var(--font-family-raleway);
  font-weight: 600;
  margin-bottom: 1.4rem;
  align-items: center;
}

.panel-desempenho-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  margin-top: 5px;
}

/*Table*/
.title-top {
  display: flex;
  gap: 0.5rem;
}
.table-top {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  justify-content: space-between;
}
h3.contratos-title {
  color: var(--color-white);
}
.table {
  font-family: var(--font-family-raleway);
  margin-bottom: 1.2rem;
}
.table span {
  font-family: var(--font-family-raleway);
}
.icon-check {
  color: #15c888;
  font-size: 1.3rem;
}
.icon-check svg {
  width: 1.3rem;
}

.table-container {
  background: linear-gradient(
    126.97deg,
    rgba(6, 11, 38, 0.74),
    rgba(26, 31, 55, 0.5)
  );
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.248);
  color: #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-family-raleway);
}

table th {
  text-align: left;
  font-weight: 200;
  padding: 0.75rem;
  border-bottom: 1px solid #56577a;
}

table td {
  text-align: left;
  padding: 0.75rem;
  border-bottom: 1px solid #56577a;
  font-weight: 600;
}

.progress-bar {
  width: 100%;
  background-color: #2d2e5f;
  height: 7px;
  border-radius: 4px;
  margin-top: 5px;
}

.progress {
  height: 100%;
  background-color: #0075ff;
  border-radius: 4px;
}

@media screen and (max-width: 1600px) {
  .panel {
    padding: 1rem 1.3rem;
  }
  .panel-title h3 {
    font-size: 1rem;
  }
  .rectangle-parent svg {
    width: 1.7rem;
    height: 1.7rem;
  }
  .rectangle-parent {
    height: 3rem;
    width: 3rem;
  }
  .panel-number {
    font-size: 2rem;
  }
  .panel-title span {
    font-size: 0.9rem;
  }

  .panel-chamados-top span {
    font-size: 0.75rem;
  }
  .chamados,
  .desempenho {
    font-size: 0.92rem;
  }
  h3.contratos-title {
    font-size: 1rem;
  }
  .table span {
    font-size: 0.9rem;
}
table {
  font-size: 0.86rem;
}
}
