.sidebar {
  width: 14.2rem;
  height: 97dvh;
  position: relative;
  bottom: 1rem;
  left: 1rem;
  border-radius: 12px;
  background: var(--background-sidebar);
  display: flex;
  flex-direction: column;
  padding: 0.875rem 0.875rem 3.8rem;
  z-index: 5;
  text-align: left;
  font-size: 1rem;
  color: var(--color-white);
  font-family: var(--font-family-raleway);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.calls-link,
.calls-link-menu {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease;
}

.submenu {
  display: flex;
  flex-direction: column;
  background-color: #00000038;
  border-radius: 12px;
  font-size: 15px;
  overflow: hidden; /* Importante para ocultar conteúdo durante o fechamento */
  max-height: 0; /* Começa fechado */
  opacity: 0; /* Invisível inicialmente */
  transition: max-height 0.3s ease, opacity 0.3s ease; /* Transição suave */
}

.submenu.open {
  max-height: 10rem; /* Defina um valor maior que a altura máxima do conteúdo */
  opacity: 1; /* Torna visível */
}


.submenu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 0.8rem;
  gap: 0.5rem;
  transition: 0.2s ease;
}

.submenu-link:not(.active-nav-link):hover {
  background-color: #1a2a5a5f; /* Lighter shade for submenu items */
  border-radius: 12px;
}
.calls-link:not(.active-nav-link):hover,
.calls-link-menu:not(.active-nav-link):hover {
  background-color: #0a163a60; /* Lighter shade of background color */
  border-radius: 12px;
}

.active-nav-link {
  background-color: #050c28;
  border-radius: 12px;
}

.active.submenu-link {
  background-color: transparent;
  color: var(--color-white);
}

.calls-navigation {
  width: 10rem;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.6rem;
  align-items: center;
  cursor: pointer;
}

.calls-label-container1 {
  flex: 1;
  flex-direction: column;
}
.calls-label-container2 {
  display: flex;
  gap: 0.3rem;
}

.rectangle-parent14 {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 12px;
  background-color: #050c28;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.menu {
  line-height: 0.9;
  font-weight: 600;
}

.navigation-items {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.navigation-container {
  flex-grow: 1;
}

.sidebar-divider {
  margin-top: auto;
}

.sidebar.closed {
  transform: translateX(-100%); /* Hide sidebar when closed */
}


@media screen and (max-width: 1600px) {
  .sidebar {
    width: 13rem;
    padding: 0.75rem 0.75rem 3.5rem;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 1280px) {
  .sidebar {
    display: none;
  }
}