.analises-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0rem 0.5rem;
  font-family: var(--font-family-raleway);
}

.panel-container-analises {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
}

.panel-analises {
  background: linear-gradient(126.97deg, #070f33, #0e1431);
  color: white;
  flex: 1;
  padding: 1rem 1.5rem;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.248);
}
.panel-top-analise {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.analises-container h3 {
  font-size: 1.3rem;
}
.tab-analises {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
.tab-analises button {
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--font-family-raleway);
  border: none;
  background-color: transparent;
  z-index: 222;
}

.analises-container hr {
  background-color: #56577a;
  height: 2px;
  border: none;
  position: relative;
  bottom: 26px;
  z-index: 111;
  border-radius: 5px;
}

.doughnut-container{
  height: auto;
  display: flex;
  justify-content: center;
  height: 75%
}

@media screen and (max-width: 1600px) {
  .tab-analises button {
    font-size: 0.92rem;
}
.analises-container h3 {
  font-size: 1.2rem;
}
.panel-analises p.report{
  font-size: 1.2rem!important;
}
.panel-analises p{
  font-size: 0.9rem!important;
  margin-bottom: 0.5rem;
}
}